.containner{
    height: 400px;
    border: solid 2px red;
    display: flex;
    /* flex-direction: row-reverse; The property row reverse   the item are filled from right side  */
    /* flex-wrap: wrap;  in this property content automatically adust hone lgta h according to spcace */ 
    /* flex-wrap: wrap-reverse; */
    gap: 10px;
    /* gap: 10px;gap property bhi margin ki trh hoti h but ye jada achi hote h it does not give gap from left and top on the contanier */
    flex-flow: wrap row;
    /* justify-content: space-around ; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* align-items: stretch; */
    /* align-items: start; */

    align-content: center;
    align-items: flex-start;
}
.box{
    
    border: solid 2px green;
    width: 80px;
}    