@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    margin:0;
    padding: 0;
}
body{
    
    font-family: "Lato", serif;
}
.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #3ed8ff,#a8f5ff);
}
.inner-box{
    
       width: 250px;
       margin: 0 450px;
       position: relative;
       top: 15%;
       transform: translate(-30%);
       padding: 20px 40px;
       background-color: white;
       border-radius: 8px;
       box-shadow: 2px 2px 5px;
       z-index: 2;

       
}
.Singup-header h1{
    font: 2.5rem;
}
.Singup-header p{
    font :0.8rem;
    color: rgb(100, 101, 101);
} 
.Singup-body p{
    margin: 5px 0;
}
.Singup-body p label {

}
.Singup-body input{
    width: 100%;
    padding: 5px;
    border: 2px solid #cccc;
    border-radius: 4px;
    

}
.Singup-body input[type="Submit"]{
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
}
.Singup-body input[type="Submit"]:hover{
    background-color: #03426c;
}
.Singup-footer p{
    color: rgb(141, 150, 157);
    text-align: center;
}
.Singup-footer p a{
    color: #3498db;

}
.circle{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background: linear-gradient(to top right ,#ffffff33,#ffffffff);
    position: absolute;
}
.c1{
    top: 100px;
    left:40px;
}
.c2{
    top:x;
    right:100px;
}