.container{
    width: 300px;
    height: 1000px;
    background-color: rgb(168, 140, 105);
    margin:  100px
}

.red{
    position: relative; /* position relativce mtlbh use can free change the position of box in container*/
    top: 100px;
    left:100px;
    width: 100px;
    height: 100px;
    background-color: red;
}
.green{
    
    position: absolute;/* */
    width: 100px;
    height: 100px;
    background-color: rgb(20, 202, 14);
}
.blue{

    background-color: rgb(9, 105, 249);
    width: 100px;
    height: 100px;
    position: fixed;
    left:0px;
}
.purple{
     width: 100px;
     height:100px;
     background-color: blueviolet;
     position: sticky;
     top: 30px;

}
.spacer{
    height: 600px;
}
.Singup