body{
    align-content: center;
    background-color: hsl(150, 20%, 25%);
}
h1{ 
    padding: 20px;
    margin: 14px;
    color: rgb(19, 17, 17);
    background-color: #b0dcc6;
}
#para{
    background-color: rgb(95, 106, 104);
    padding: 40px;
    margin: 24px;
}   